:root {
    --bs-red: #F63B58;
    --bs-white: #DEE6E9;
    --blue: #2980b9;
    --light-blue: #3498db;
    --white: #f5f6fa;
    --light-grey: #99AAB5;
    --grey: #b2bec3;
    --dark-grey: #485460;
    --black: #23272A;

    /*Rock Salt*/
    /*Saira Extra Condensed*/
    /*Permanent Marker*/
    /*Architects Daughter*/
    /*Just Another Hands*/
    /*Julius Sans One*/
    /*Amatic SC*/
}

@font-face {
    font-family: Sin City;
    src: url('../fonts/Sin-City.ttf');
}

@font-face {
    font-family: June;
    src: url("../fonts/Megan-June.otf");
}

body, html {
    margin-left: 0;
    background: #202125;
}

h2 {
    letter-spacing: 30px;
    font-size: 50px;
    font-family: "Julius Sans One";
}

.nav-item a:hover {
    letter-spacing: 5px;
    color: var(--white);
    transition: .35s;
}

.dropdown-content a:hover {
    letter-spacing: 0;
}

.body-container {
    box-shadow: 0 8px 25px black;
}

.spacer-row {
    height: 50px;
}

.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    /*background-size: auto;*/
    background: var(--black);
    /*background:rgba(20,21,24,.2);*/
    /*box-shadow: 0 8px 25px var(--black);*/
    /*border-top: 1px solid white;*/
    /*border-bottom: 3px solid var(--light-grey);*/
}

.nav-logo {
    align-content: center;
    position: relative;
    top: 0;
    margin: 0;
    height: 110px;
    -webkit-animation-name: logo-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: logo-animation;
    animation-duration: .5s;
    opacity: 1.0;
    transition: 500ms ease;
}

.nav {
    text-align: center;
    padding: auto;
    list-style: none;
    background: transparent;
    border: transparent;
    width: 100%;
    height: 120px;
    transition: 500ms;

}

.nav-link {
    text-align: center;
    color: var(--light-grey);
    /*text-shadow: black 4px 5px 3px;*/
}

.nav-item {
    position: relative;
    text-align: center;
    font-family: 'Julius Sans One';
    font-weight: bolder;
    font-size: 20px;
    padding-top: 37px;
    transition: 500ms;
}

.text-box {
    border-radius: 20px;
    padding: 50px 100px;
    text-align: center;
    color: var(--white);
    font-family: "June";
    font-size: 25px;
    background: rgba(48,54,60,0.6);
    margin-top: 220px;
}

.discord {
    -webkit-animation-name: nav-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2200ms; /* Safari 4.0 - 8.0 */
    animation-name: nav-animation;
    animation-duration: 2200ms;
    transition: 1s ease;
}

.store {
    -webkit-animation-name: nav-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1600ms; /* Safari 4.0 - 8.0 */
    animation-name: nav-animation;
    animation-duration: 1600ms;
    transition: 1s ease;
}

.podcast {
    -webkit-animation-name: nav-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1000ms; /* Safari 4.0 - 8.0 */
    animation-name: nav-animation;
    animation-duration: 1000ms;
    transition: 1s ease;
}

.patreon {
    -webkit-animation-name: nav-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1000ms; /* Safari 4.0 - 8.0 */
    animation-name: nav-animation;
    animation-duration: 1000ms;
    transition: 1s ease;
}

.about {
    -webkit-animation-name: nav-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1600ms; /* Safari 4.0 - 8.0 */
    animation-name: nav-animation;
    animation-duration: 1600ms;
    transition: 1s ease;
}

.contact {
    -webkit-animation-name: nav-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2200ms; /* Safari 4.0 - 8.0 */
    animation-name: nav-animation;
    animation-duration: 2200ms;
    transition: 1s ease;
}

.content-main {
    /*background: var(--dark-grey);*/
    /*background:rgba(0,0,0,0.4);*/
    /*border-left: 1px solid grey ;*/
    /*border-right: 1px solid grey ;*/
}

.container-main {
    /*box-shadow: 10px 8px 25px red;*/
    height: 850px;
    width: 100%;
}

.side-panel {
    /*background: var(--dark-grey);*/
    /*background:rgba(0,0,0,0.2);*/
}

.fab {
    margin: 10px 20px;
    color: var(--dark-grey);
}

.social-media-links {
    padding-top: 10px;
}

.avatar-list {
    list-style: none;
    /*padding: 0;*/
    margin-left: 30px;
}

.avatar-item {
    padding-top: 30px;
}

.avatar {
    height: 125px;
}

.dropdown {
    display: block;
}

.dropdown-link {
    color: var(--light-grey);
}

.dropdown-content {
    color: var(--white);
    padding-bottom: 0;
    font-size: 15px;
    padding-top: 10px;
    display: none;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    position: relative;
    display: block;
}

.parallax-1 {
    /*box-shadow: 10px 8px 25px red;*/
    /* The image used */
    background: url("../img/backgrounds/coastline.jpg");

    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    z-index: 0;
    /* The image used */
    background: url("../img/backgrounds/coastline-night.jpg");

    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3 {
    /*box-shadow: 10px 8px 25px red;*/
    /* The image used */
    background: url("../img/backgrounds/coastline.jpg");

    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-4 {

    background:rgba(20,21,24,.2);
    /*box-shadow: 10px 8px 25px red;*/
    /* The image used */
    background: url("../img/backgrounds/bracketstudio-mixer-mics.jpg");

    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.discord-title-bar {
    color: var(--white);
    text-shadow: black 4px 5px 3px;
    font-size: 100px;
    text-align: center;
    border-bottom: 5px solid #7289DA;
    background: #23272A;
    height: 180px;
}

.discord-header {
    top: 10px;
    border-radius: 30px;
    /*box-shadow: white 4px 5px 3px;*/
    height: 100px;
}

.patreon-title-bar {
    padding-top: 5px;
    text-shadow: black 4px 5px 3px;
    font-size: 95px;
    text-align: center;
    border-bottom: 5px solid #052D49;
    background: #F96854;
    height: 180px;
}

.patreon-header {
    margin: 0;
    /*box-shadow: white 4px 5px 3px;*/
    height: 135px;
}

.podcast-title-bar {
    padding: 65px ;
    color: var(--bs-white);
    font-family: "Sin City";
    /*text-shadow: black 4px 5px 3px;*/
    font-size: 45px;
    text-align: center;
    border-bottom: 5px solid var(--black);
    background: var(--bs-red);
    height: 180px;
}

.podcast-header {
    margin: 0;
    /*box-shadow: white 4px 5px 3px;*/
    height: 135px;
}



footer {
    background: var(--light-grey);
    height: 120px;
}

i {
    margin: 10px;
    text-align: center;
    font-size: 80px;
}

i:hover {
    color: var(--black);
    /*text-shadow: 4px 5px 5px black;*/
}

/*animations*/

@keyframes logo-animation {
    from {

        opacity: 0;
        position: relative;
        top: 15px;


    }
    to {
        opacity: 1;
        position: relative;
        top: 0;
    }
}

@keyframes nav-animation {
    from {
        opacity: 0;
        /*position: absolute;*/
        /*top: 100px;*/

    }
    to {
        opacity: 1;
        /*position: relative;*/
        /*top: 5px;*/
        /*}*/
    }
}

.scrolled {
    background-color: var(--dark-grey);
}

header {
    transition: 500ms ease;
}

.scrolled header {
    transition: 500ms ease;
}

.scrolled .nav {
    top: 5px;
    height: 45px;
    transition: 500ms;
}

.scrolled a {
    color: var(--white);
    transition: 1s ease;
}
.scrolled .nav-item{
    padding: 0;
    margin: 0;
    transition: 500ms;
}
.nav-logo-height{
    height: 110px;
    transition: 500ms;
}
.scrolled .nav-logo-height {
    height: 0;
    transition: 500ms ease;
}
.scrolled #invis-scroll{
    opacity: 0.0;
    transition:  0s;
}
#invis-scroll {
    opacity: 1;
    transition: 1s;
}
#backToTop {
    display: none;
}
#backToTop i{
    color: white;
    font-size: 30px;
}

/*TESTING TESTING TESTING*/
